/* Make this .cardtable? */
body {
  margin: 0 10px;
  background-color: #272;
  font-size: 0.9em;
}

.card-group {
  padding: 10px;
  padding-left: 0px;
  float: left;
  border: 1px solid #F50;
  height: 62px;
}

.card-group li {
  float: left;
  list-style-type: none;
}

.card {
  position: relative;
  margin-left: 10px;
  background-color: white;
  border: 1px solid #DDD;
  width: 40px;
  height: 60px;
}
.card .value {
  position: absolute;
}
.card .value.top {
  top: 3px;
  left: 3px;
}
.card .value.bottom {
  bottom: 3px;
  right: 3px;
}
.card .suit {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.card.black {
  color: black;
}
.card.red {
  color: red;
}
.card.club {
  background: #FFF url(images/club.png) no-repeat scroll center;
}
.card.heart {
  background: #FFF url(images/heart.png) no-repeat scroll center;
}
.card.diamond {
  background: #FFF url(images/diamond.png) no-repeat scroll center;
}
.card.spade {
  background: #FFF url(images/spade.png) no-repeat scroll center;
}

.card.hidden {
  background: #FFF url(images/question.png) no-repeat scroll center;
}
.card.hidden .value, .card.hidden .suit {
  display: none;
}
